body {
	padding-top: 300px;
	font-family: 'Montserrat', sans-serif;
}

.alt-font {
	font-family: 'Concert One', cursive;
}

.fs-11 {
	font-size: 11px;
}
.fs-12 {
	font-size: 12px;
}
.fs-13 {
	font-size: 12px;
}
.fs-14 {
	font-size: 14px;
}
.fs-15 {
	font-size: 15px;
}
.fs-16 {
	font-size: 16px;
}
.fs-18 {
	font-size: 18px;
}
.fs-22 {
	font-size: 22px;
}
.fs-24 {
	font-size: 24px;
}
.fs-36 {
	font-size: 36px;
}
.fs-40 {
	font-size: 40px;
}
.fs-45 {
	font-size: 45px;
}

/* HEADER */
.nav-menu-item {
	position: relative;
	font-family: 'Concert One', cursive;
	color: var(--light);
	display: flex;
}
.nav-menu-item::before {
	content: " ";
	background-color: #ffa630;
	height: 100%;
    width: 8px;
    display: inline-block;
    margin-right: 20px;
}

.sandwich-icon {
	position: absolute;
	max-width: 28px;
	right: 10px;
	top: 40px;
}

.nav-top-wrapper {
	z-index: 1000;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	position: fixed;
	height: 200px;
	background-color: red;
	top: 0;
	left: 0;
	z-index: 3000;
}

.main-header {
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
}

.main-header.open .top-main-nav-wrapper {
	display: flex !important;
	position: fixed;
	top: 0;
	z-index: 2000;
	width: 100vw;
	height: 100vh;
}

.main-header.open .top-main-nav {
	flex-wrap: wrap;
	text-align: left !important;
	justify-content: flex-start !important;
	padding-top: 130px;
	flex-direction: column;
}

.main-header.open .nav-menu-item {
	width: 100%;
}

.main-header.open .header-right-column {
	display: none;
}

.main-header.open .nav-top-wrapper {
	height: auto;
}

.header-top-logo {
	max-width: 100px;
	margin: 20px;
}
.top-main-nav {
	background-color: var(--gray-dark);
}
.top-main-nav-wrapper {
	background-color: darkgrey;
	width: 100%;
}


.max-width-wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.header-contact {
	background-color: pink;
	margin-left: auto;
}

.header-right-column {
	display: flex;
}

.social-icon {
	max-width: 30px;
}


/* FOOTER */
.main-footer {
	margin-top: 130px;
	background-color: var(--gray-dark);
}

.logo-footer {
	max-width: 180px;
	margin-top: -60px;
	position: relative;
}

.column-center {
	background-color: pink;
	flex-grow: 1;
}

.column-right {
	background-color: green;
	flex-grow: 1;
	width: 100%;
	text-align: center;
}

.footer-main-nav {
	columns: 2;
}

.footer-nav-menu-item {
	display: block;
	text-align: center;
	color: var(--light);
    margin: 12px 4px;
	font-size: 12px;
}

.footer-small-box-columns {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.footer-small-box-left {
	width: 100%;
}

/* OVERALL */
:root {
	--primary: #f7567c;
	--secondary: #3e4095;
	--tertiary: #ffa630;
	--blue: #459ed4;
	--gray: #f3f3f3;
	--gray-dark: #5d576b;
}

.bg-light {
	background-color: #F5F5F5;
}

.cmw-100 {
	max-width: 100px;
}
.cmw-650 {
	max-width: 650px;
}
.cmw-1200 {
	max-width: 1200px;
}

.bg-cover {
	background-size: cover;
}

.bg-center-center {
	background-position: center center;
}

.bg-center-top {
	background-position: center top;
}

.bg-center-bottom {
	background-position: center bottom;
}

.ty-50 {
	transform: translateY(50%);
}

.btn {
	position: relative;
	padding: 10px 40px;
	border-radius: 100px;
	color: #FFF;
	text-decoration: none;
	transition: all 0.1s;
	border: 0;
	border-bottom: 5px solid #A20B0B;
	min-height: 50px;
	font-size: 14px;

}
.btn-primary {
	background-color: var(--primary);
}

.btn:active {
	transform: translate(0px, 5px);
	border-bottom: 1px solid;
}












@media (min-width: 768px) {
	.btn {
		font-size: 18px;
	}
	.blog-article-item {
		width: 33%;
		padding: 3px;
	}
	.nav-menu-item {
		flex-wrap: wrap;
		height: 100%;
	}
	.nav-menu-item::after {
		content: " ";
		width: 100%;
		background-color: blue;
		height: 4px;
		display: block;
	}
	.nav-menu-item::before {
		display: none;
	}

	body {
		padding-top: 0;
	}

	.main-footer {
		flex-wrap: nowrap;
	}

	.nav-top-wrapper {
		flex-wrap: nowrap;
		z-index: auto;
		position: relative;
		height: auto;
	}

	.header-right-column {
		margin-left: auto;
	}

	.column-right {
		width: auto;
		flex: 1;
	}

	.footer-small-box-left {
		width: auto;
	}

	.footer-small-box-columns {
		text-align: left;
	}



	.fs-md-11 {
		font-size: 11px;
	}
	.fs-md-12 {
		font-size: 12px;
	}
	.fs-md-14 {
		font-size: 14px;
	}
	.fs-md-15 {
		font-size: 15px;
	}
	.fs-md-16 {
		font-size: 16px;
	}
	.fs-md-18 {
		font-size: 18px;
	}
	.fs-md-36 {
		font-size: 36px;
	}
	.fs-md-40 {
		font-size: 40px;
	}
	.fs-md-45 {
		font-size: 45px;
	}
}
