:root {
    --primary: #355070;
    --secondary: #B56576;
    --tertiary: #eaac8b;
    --danger: #e56b6f;
    --purple: #6d597a;
    --dark: #3d3d3d;
    --gray-dark: #707070;
    --gray: #e9e9e9;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 132px;
}

/* HEADER */
.top-main-nav {
    display: none;
}
.main-header {
    z-index: 5000;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--light);
}

.sandwich-icon {
    appearance: none;
    border: 0;
    background-color: transparent;
    z-index: 2;
    position: relative;
}

.sandwich-icon img {
    max-width: 50px;
}

.mobile-menu-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    display: none;
}

.main-header.open .mobile-menu-cover {
    display: block;
}

.main-header.open .header-phone {
    opacity: 0;
}

.main-header.open .top-main-nav {
    display: flex !important;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 150px;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
}

.main-header.open .nav-menu-item {
    font-size: 37px;
}

.max-width-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: yellow;
}

.header-right-column {
    margin-left: auto;
    display: block;
    flex-wrap: wrap;
    text-align: center;
}

.header-social-icons {
    display: none;
}

.header-top-logo {
    max-width: 180px;
    margin: 10px;
}

.socialnav__icon-img {
    max-width: 50px;
}

.nav-menu-item {
    color: #000;
    margin: 0 10px;
    position: relative;
    font-weight: 600;
}

.nav-menu-item.active::after {
    content: " ";
    width: 100%;
    background-color: red;
    display: block;
    height: 6px;

}

.header-phone::before {
    content: " ";
    width: 30px;
    height: 30px;
    background-image: url("../img/icon-whatsapp.png");
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.headline-contact {
    margin-top: 20px;
}

.top-main-nav ul {
    padding: 0;
    margin: 0;
    display: flex;
}
.top-main-nav li {
    list-style: none;
    padding: 0 10px;
    width: 100%;
}

.main-footer {
    background-color: var(--primary);
}

.deco-stripe {
    background-image: url("../img/border-deco.png");
    background-repeat: repeat-x;
    background-size: 500px;
    background-position: center -5px;
    height: 10px;
    display: block;
}

.border-deco:after {
    content: "a";
    background-image: url("../img/Component 20 – 1@2x.png");
    background-repeat: repeat-x;
    background-size: 500px;
    background-position: center -5px;
}

/* OVERALL */
.alt-font {
    font-family: 'Playfair Display', serif;
}

.wp-block-button__link {
    font-weight: 700;
    font-style: italic;
    border-radius: 0;
    padding: 24px 60px;
    border: 0;
    font-size: 18px;
    background-color: var(--primary);
    font-family: 'Playfair Display', serif;
}
.btn-secondary {
    background-color: var(--secondary);
}
.btn-tertiary * {
    color: var(--dark);
    background-color: var(--tertiary);
}
/* .btn {
    font-weight: 700;
    font-style: italic;
    border-radius: 0;
    padding: 24px 60px;
    border: 0;
}

 */

.title {
    font-style: italic;
    font-size: 20px;
    font-weigth: 700;
}

.text {
    font-size: 18px;
}

.boxed-home-title {
    font-size: 15px;
    background-color: blue;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    transform: translateY(-50%);
}

.card-ministry {
    width: 50%;
    padding: 4px;
}

.video-100 * {
    width: 100%;
}

.home-video-button-cta .wp-block-button__link {
    padding: 0;
}

.home-video-button-cta img {
    width: 100%;
    height: auto;
}
.home-video-buttons-wrapper .home-video-button-cta p {
    background-color: var(--primary);
    color: var(--light);
    display: inline-block;
    padding: 10px 20px;
    margin-left: 10px;
    transform: translateY(-50%);
    margin-bottom: 0;
}
.home-video-buttons-wrapper .wp-block-button__link {
    background-color: transparent;
    text-align: left;
}
.wp-block-video {
    margin: 0;
}
.img-wrapper-border::before {
    content: " ";
    background-image: url(../img/border-deco-banner.png);
    height: 10px;
    position: absolute;
    width: 100%;
    background-repeat: repeat-x;
    background-size: 870px;
}

.bg-fill-primary {
    background-color: var(--primary);
}
.bg-fill-purple {
    background-color: var(--purple);
}
.wp-block-image.w-100 img {
    width: 100%;
    height: auto;
}
.mw-1100 {
    max-width: 1100px;
}
.mw-850 {
    max-width: 850px;
}
.mw-540 {
    max-width: 540px;
}
.fg-05 {
    flex-grow: .5;
}
.know-more-section {
    display: none;
}

.videoWrapper {
    position: relative;
    padding-bottom: 43.25%; /* 16:9 */
    height: 0;
    display: block;
    max-width: 641px;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media (min-width: 768px) {

    /* HEADER */
    .header-social-icons {
        width: 100%;
    }

    .top-main-nav {
        display: flex;
        margin: 0;
        padding: 0;
    }
    .top-main-nav li {
        width: auto;
    }

    .socialnav__icon-img {
        max-width: 50px;
    }

    .nav-menu-item {
        color: #000;
        margin: 0 10px;
        position: relative;
    }

    .nav-menu-item.active::after {
        content: " ";
        width: 100%;
        background-color: red;
        display: block;
        height: 6px;

    }

    .header-phone::before {
        content: " ";
        width: 30px;
        height: 30px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .headline-contact {
        margin-top: 20px;
    }

    .home-cols {
        position: absolute;
        width: 30%;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        flex-wrap: wrap;
    }

    .home-cols .w-50 {
        width: 100% !important;
    }

    .history-cols article.w-100 {
        width: 25% !important;
        padding: 6px;
    }

    .pastor-block {
        flex-direction: row-reverse;
        background-color: blanchedalmond;
        justify-content: flex-end;
    }

    .pastor-block img {
        width: 50% !important;
    }

    .home-video-buttons-wrapper {
        width: 40%;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    .home-video-buttons-wrapper .home-video-button-cta.w-50 {
        width: 100% !important;
    }

}


/* GLOBAL */
/* .category-secao-auxiliar {
    display: none;
}
.category-secao-auxiliar.show {
    display: block;
}
.container-fluid {
    margin: 0;
}
body {
    padding-top: 170px;
}

.decorative-flag {
    position: fixed;
}
.decorative-flag-left {
    left: -100px;
}
.decorative-flag-right {
    right: -100px;
}
img {
    height: auto;
}
.full-100 img {
    width: 100%;
} */
/* .margin-full-bleed-offset {
    margin-left: -15px;
    margin-right: -15px;
} */
/* footer {
    background-color: red;
}
.margin-right-stick {
    margin-right: -15px;
}
.margin-left-stick {
    margin-left: -15px;
} */
/* NAVIGATION */
/* .navbar-logo {
    max-width: 100px;
    height: auto;
}
.navbar {
    background-color: yellow;
}
.menu-item {
    margin-right: 12px;
}
.mainnav__menu {
    padding: 0;
    display: flex;
}
.mainnav__menu .menu-item {
    list-style: none;
    margin-right: 12px;
}
.socialnav {

}
.socialnav__menu {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.socialnav__icon {
    margin-right: 18px;
}
.socialnav__icon:last-child {
    margin-right: 0;
} */
/* HOME */
/* .home-video-wrapper {
    position: relative;
}
.home-video-wrapper video {
    width: 100%;
}
.home-video-buttons-wrapper {
    
}
.home-video-buttons-wrapper .home-video-button-cta {
    width: 100%;
    margin-right: 0;
    background-size: cover;
    background-position: center center;
}
.home-video-wrapper .wp-block-button__link {
    width: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
}
.wp-block-button__link img {
    width: 100%;
    height: auto;
}
.wp-block-button__link p {
    position: absolute;
    bottom: 0;
    z-index: 2;
    margin-left: 10px;
    font-size: 3rem;
}

@media (min-width: 800px) {
    .home-video-buttons-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .home-video-buttons-wrapper .home-video-button-cta {
        width: 49%;
    }
    .home-video-wrapper .wp-block-button__link {

    }
}

@media (min-width: 1200px) {
    .home-video-buttons-wrapper {
        position: absolute;
        width: 40vw;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-wrap: wrap;
    }
    .home-video-buttons-wrapper .home-video-button-cta {
        width: 100%;
    }
} */

/* GALLERY */
/* .ministry-grid .wp-block-image {
    background-color: blueviolet;
}
.ministry-grid .wp-block-image img {
    width: 100%;
    height: auto;
}
.ministry-grid .wp-block-image figcaption {
    text-align: center;
} */

/* BLOG */
/* .blog-wrapper .wp-post-image {
    width: 100%;
    height: auto;
} */

/* video */
/* .latestVideo iframe::before {
    padding-top: 50%;
} */



/* HEADER */
/* .top-main-nav-wrapper {
    background-color: darkgrey;
      width: 100%;
  }
  .top-main-nav {
      display: flex;
      justify-content: flex-end;
  }
  .max-width-wrapper {
    max-width: 600px;
        width: 100%;
      display: flex;
      margin: 0 auto;
      background-color: yellow;
  }
  .header-contact {
    background-color: pink;
    margin-left: auto;
  }
  .header-right-column {
    margin-left: auto;
      display: flex;
      flex-wrap: wrap;
          justify-content: center;
      text-align: center;
  }
  .header-logo {
    background-color: purple;
    width: 100px;
    height: 100px;
  }
  .main-header {
    
  }
  .main-header-middle {
        align-items: center;
  }
  .header-social-icons {
    
  } */